<h1 align="center"> All users </h1>
<div align="center">
  <%= will_paginate %>
</div>
<% @users.each do |user|%>
  <div class="card card_style">
    <div class="card-header article_title">
      <%= link_to gravatar_for(user), user_path(user)%>
    </div>
    <div class="card-body">
      <p class="card-text"><%= link_to user.username, user_path(user)%></p>
      <div class="article_meta_details">
        <small><%= pluralize(user.articles.count,"article") if user.articles%></small>
        <% if logged_in? && current_user.admin?%>
          <%= link_to "delete this user and associated articles", user_path(user),method: :delete,
                                      data: {confirm:"are you sure?"}, class:"btn btn-danger"%>
        <%end%>
      </div>
    </div>
  </div>
<%end %>
<div align="center">
  <%= will_paginate %>
</div>
