<h1 align="center">Welcome to <%= @user.username %>'s profile page</h1>
<div class="row">
  <div align="center">
    <%= gravatar_for @user%>
  </div>
</div>
<h4 align="center"><%= @user.username %>'s article</h4>
<div align="center">
  <%= will_paginate @user_articles %>
</div>
<%= render 'articles/article', obj: @user_articles %>
<div align="center">
  <%= will_paginate @user_articles %>
</div>
